/*Overide default styles*/
ul.database{
	padding-left:0px !important;
}

ul.database li{
	list-style: none;
    display: block;
    width: 100%;
    padding-left: 2px;
    margin-bottom: 2%;
    /*border-bottom: 1px solid white;*/
    font-size: 11px;
    color: initial;
}

span.databaselist:hover,span.question:hover{
	color: rgba(228, 79, 79, 0.8);
}

.question{
    font-size: 18px;
    line-height: 18px;
    font-weight: bolder;
}

.surveydata{
    color: rgba(228, 79, 79, 0.8);
}

.sectorslist{
    padding-left:0px !important;
}

.sectorslist li{
    list-style: none;
}

.sectorslist li a{
    font-size: 12px;
    padding-left:2%;
    text-decoration: none !important;
}

.dart::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    color:rgb(228, 79, 79);
}

.check::before {
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    color:green;
}

.site-red{
    color:rgb(228, 79, 79);
}

.site-init{
    color: initial;
}

.bold{
    font-weight:bold;
}

.codeinfo{
    margin-bottom: 2%;
    display: block;
}

.no-margin{
    margin:0px !important;
}

/*OVERIDE CHOSEN CSS*/
li.search-choice{
	color: rgb(228, 79, 79) !important;
    border: 1px solid gray;
    font-size: 14px;
}

.search-field{
    font-size: 14px;
}

div.chosen-container{
	border: 1px solid rgba(228, 79, 79, 0.79);
	margin-top:4%;
}

/*Select2 Customization*/
.select2-container{
    width: 100% !important;
}

.select2-selection{
    border: 1px solid rgba(228, 79, 79, 0.79) !important;
    margin-top:4% !important;
    border-radius: 0px !important;
    font-size: 12px !important;
}

.select2-results__option{
    font-size: 12px !important;
}

.select2-selection__choice{
    border-radius: 0px !important;
}

.select2-selection__choice{
    color: rgba(228, 79, 79, 0.79);
}

.select2-selection__choice span{
    color: #000 !important;
}

.select2-results__option{
    color: #000 !important;
}

select.chosentable{
    width:100%;
    margin-left:auto;
    margin:auto;
}

.select2-selection__arrow {
    top: 15px !important;
}

.checkbox label{
    color: #444 !important;
}

input#to, input#from{
    height: 28px;
    color: #444 !important;
}

.min-input{
    height: 28px;
    color: #444 !important;
    font-size: 12px;
}
/*End Select Customization*/

.info{
    font-size:24px !important;
}

.chosen-single{
    border-radius:0px !important; 
}

.comment{
    height: 100px !important;
    font-size: 12px;
    resize: none;
    border-radius: 0px;
    margin-bottom: 10%;
}

.submitdiv,#savereview{
        margin-top: 4%;
}

span.content{
    font-size: 11px;
}

hr.splitter{
    margin: 5px 0px;
}

div#logindiv  input,div#logindiv  select,div#logindiv  textarea,div.logindiv  input,div.logindiv  select,div.site-input input,div.site-input  select{
    border: 1px solid rgb(228, 79, 79);
    border-radius: 0px;
    margin-bottom: 4%;
}

/*/ADMIN*/
.menui{
    font-size: 20px !important;
}

.no-pad,.nopad{
    padding:0px !important;
}

.admin-menu{
    background: white;
    padding: 5px;
    margin-bottom: 2px;
    display: block;
    text-decoration: none;
}

.admin-menu:hover{
    opacity: 0.7;
    text-decoration: none;
}

.activated{
    opacity: 0.7;
    border: 1px solid rgb(228, 79, 79);
}

.admin-menu > i{
    font-size: 14px !important;
}

.fonts{
    font-size: 14px !important;
}

.action-btn{
    text-decoration: none;
    border: 1px solid rgb(226, 118, 118);
    padding: 2px 4px;
    background: white;
    color: black;
    margin: 0px 2px;
}

.action-btn:hover{
    opacity: 0.8;
    text-decoration: none;
    color:black;
}

.action-btn:visited{
    text-decoration: none;
}

.inline{
    display:inline !important;
}

.notify{
    border: 1px solid rgb(226, 118, 118);
    padding: 2px 4px;
    background: white;
    color: black;
    margin: auto;
    text-align: center;
    width: 70% !important;
    color: green;
}

.notifystay{
    border: 1px solid rgb(226, 118, 118);
    padding: 2px 4px;
    background: white;
    color: black;
    margin: auto;
    text-align: center;
    width: 70% !important;
}

.split-list{
    margin: 4px 0px;
}

.agree{
    padding: 0px;
    font-size: 12px;
}

.help-editor{
    min-height: 200px;
}

.editor i {
    font-size: 12px !important;
}

#periodchild{
    margin-top: 4%;
    border: 1px solid gray;
    padding: 4px;
}

.no-margin{
    margin:0px;
}

.dash-row{
    font-size: 10px !important;
}

.font12{
    font-size: 12px !important;
}

.font10{
    font-size: 10px !important;
}

.counter{
    margin: auto !important;
    width: 3%;
    background: rgb(228, 79, 79);
    border-radius: 50%;
    text-align: center;
    margin-left: 6%;
    color: white;
    margin-bottom: 2% !important;
    border: 1px solid black;
}

.green{
    color:green !important;
}

#manualperiod{
    border: 1px solid black;
    margin-top: 2%;
    margin-bottom: 2%;
}

div#sortdiv{
    padding-top: 1% !important;
}

div#sortdiv select,div#sortdiv button{
    height: 27px;
    line-height: 27px;
    font-size: 11px;
}

div#sortdiv div button,div#sortdiv div a{
    font-size: 11px;
    display: block;
    margin-top: 0px !important;
    height: 27px;
    line-height: 16px;
    width: 100%;
    padding: 3px;
    font-weight: bold;
}

.margin-top-3{
    margin-top:3% !important;
}

.white{
        color: white !important;
}

.norightpad{
    padding-right:0px;
}

.noleftpad{
    padding-left:0px;
}

.periodbox{
    padding: 1%;
    border: 1px solid black;
    margin-top: 1%;
} 

.overview-dashboard{
    background: white;
}

.overview-dashboard  div.modules{
    border: 1px solid black;
}

.overview-count{
    margin: 30px;
    color: rgb(228, 79, 79);
    font-size: 20px;
}

/*//Adjust date picker
.ui-datepicker-month{
    display
}*/

.breadcrumb{
    display: inline !important;
    background: rgba(255, 255, 255, 0.20) !important;
    border-radius: 0px !important;
}

.normal{
    font-weight: normal !important;
}

.dcomment{
    border: 1px solid rgb(228, 79, 79);
    height: 90px !important;
    overflow: hidden;
    margin-bottom: 10px !important;
}

.client-title{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 5px 0px !important;
    text-align: center;;
}

 #databaseoverview,#tableoverview,#lagoverview,#cagoverview,#freqoverview,#variableoverview,#periodoverview,#commentoverview{
    font-size: 12px !important;
    padding: 0px !important;
 }

 #cl_name_overview,#cl_sex_overview,#cl_email_overview,#cl_add_overview,#cl_phone_overview,#cl_institution_overview,#cl_designation_overview{
    font-size: 12px !important;
    padding: 0px !important;
 }

div.services-wrapper{
    padding-top: 1% !important;
}

 div.services-wrapper>h3{
    font-size: 20px;
    margin-top: 10px !important;
 }

section#services {
    padding-top: 15px !important;
}

@media (min-width: 1200px)
{
    .container {
        width: 1220px;
    }
}

.overviewdivbox{
    min-height: 232px !important;
}

.get_free{
    float: right;
    border: 1px solid rgba(68, 68, 68, 0.9);
    color: rgb(228, 79, 79);
    padding: 2px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.28);
}

.get_free i{
    font-size: 8px !important;
}

.link-color{
    color: #23527c !important;
}

.anasatnotificationfont {
    font-size: 16px !important;
}

.theaders{
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

.theaders  div{
    border-right: 1px solid #444;
}

.tdbody{
    /*border-right: 1px solid #444;*/
}

.tdbody{
    border-bottom: 1px solid #444;
}

#byaffiliate .chosen-container{
    margin-top: 0px;
}

#byaffiliate .chosen-container .chosen-single{
    font-weight: normal !important;
}

.site-blue{
    color:blue !important;
}

#requestlists{
    /*border-right: 1px solid #444;*/
    /*border-left: 1px solid #444;*/
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom:1%;
}

.requestlists div{
    /*padding: 1% !important;*/
}

.bioform div h5{
    margin-bottom: 0px !important;
}

.col-md-half{
    width: 4% !important;
    float: left;
}

.margin-top-3{
    margin-top: 3% !important;
}

.only-margin-top-3{
    margin: 0px !important;
    margin-top: 3% !important;
}

.full-chosen .chosen-container{
    width: 80% !important;
    padding: 0px !important;
    margin-top: 0px !important;
}

#contact .contact-wrapper{
    margin-bottom: 5px !important;
}